@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue: #192b69;
  --second-blue: #001d3d;
  --red: #780000;
  --border: #e0e0e0;

  --main-font: "Gilroy", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
a,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: var(--main-font);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--blue);
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}
